<div class="jumbotron mt-4">
    <div class="container">
        <h4 class="display-4">
            Notes App
        </h4>
        <p class="lead">Contents...</p>
        <hr class="my-4">
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quod odit inventore corporis laudantium, ipsum, architecto culpa possimus praesentium cum incidunt eaque porro cupiditate officia eligendi et animi illum. Nulla, nihil.</p>
        <a href="" class="btn primary btn-lg">Go to notes</a>
    </div>
</div>